# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Entwicklungsumgebungen
.vscode/
.idea/

# Abhängigkeiten
/node_modules/
/vendor/

# Kompilierte Dateien
*.min.css
*.min.js

# Konfigurationsdateien
.env

# Temporäre Dateien
*.log
*.tmp

# Composer
composer.phar

# Sicherungsdateien
*.bak
*.swp
*~

# Build-Verzeichnis
/dist/

# Lokale Konfigurationsdateien
config.local.php

# Test Coverage
/tests/coverage/
.phpunit.result.cache
