
.k-draggable-item[data-v-52320cd5] {
  width: 100%;
}
.k-status-icon[data-v-52320cd5] {
  --icon-size: 15px;
}
.k-frame.k-icon-frame.k-item-image svg[data-v-52320cd5] {
  color: var(--color-grey-500);
}

.k-navigation-group[data-v-aaefb2ee] {
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow);
}
.k-navigation-group-header[data-v-aaefb2ee] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-200);
  height: var(--height-xl);
}
.k-navigation-group-header h3[data-v-aaefb2ee] {
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--text-sm);
  line-height: 1.4;
  text-overflow: ellipsis;
}
.k-navigation-group-header-title[data-v-aaefb2ee] {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: var(--spacing-2);
}
.k-navigation-group-footer[data-v-aaefb2ee] {
  border-top: 1px solid var(--color-gray-200);
  padding: var(--spacing-1);
}
.k-draggable-group[data-v-aaefb2ee] {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  background-color: var(--color-gray-100);
  padding: var(--spacing-2) var(--spacing-1);
}
.k-empty[data-v-aaefb2ee] {
  height: 40px;
  background-color: var(--color-gray-100);
}

.k-draggable-container[data-v-099cc128] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  padding: 0 0 var(--spacing-2) 0;
}
